node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.eslintcache 
docs/

# macOS
.DS_Store

# fb
database-debug.log
database.rules.json
firebase-debug.log
storage.rules
ui-debug.log
functions/

